{% extends 'base-products.html' %}
{% load static %}


{% block styles %}
{% endblock %}
{% block title %}Productos Caseros Don Alfredo{% endblock %}

{% block product %}
<div class="boxContainer">
    <div class="jamBox">
        <div class="containerBox">
            <div class="row">
                <div class="col-4">
                    <div class="imageContainer">
                        <div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">

                            <div class="carousel-inner">
                                {% for product_image in product.image.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ product_image.image.url }}" alt="{{ product.name }} Image"
                                        height="100%" width="100%">
                                </div>
                                {% endfor %}
                            </div>

                            <a class="carousel-control-prev" href="#miCarrusel" data-bs-slide="prev" id="custom-prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#miCarrusel" data-bs-slide="next" id="custom-next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                        <h4 class="price">Precio: Gs. {{product.price}} por {{product.content}} {{product.unit}} </h4>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            {{ form.size.label_tag }} {{ form.size }}
                            <br>
                            <br>
                            {{ form.quantity.label_tag }} {{ form.quantity }}
                            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
                <div class="col-8">
                    <h2 class="productTitle">{{product.name}}</h2>
                    <h4>{{product.description}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}