{% extends 'base.html' %}
{% load static %}


{% block styles %}
{% endblock %}
{% block title %}Contacto - Productos Caseros Don Alfredo{% endblock %}


{% block content %}
<div class="container">
    <div class="welcomeBackground">
        <div class="welcome">
            <div class="infoContainer">
                <h1>Como contactarnos</h1>
                <div class="row">
                    <div class="dataContainer">
                        <h3>Teléfono: 0985 786 602</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="dataContainer">
                        <h3>Email: monicastorrer@hotmail.com</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="dataContainer">
                        <h3>Instragram: monikstorrer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}