{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    {% block styles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img src="{% static 'images/don_alfredo_logo.png' %}" alt="Don Alfredo logo">
            </a>
            <div class="navbarContainer">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'catalogo' %}">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'carrito' %}">
                                <img src="{% static 'images/shopping_cart.png' %}" alt="Don Alfredo logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        {% block content %}
        <h1>BASE HTML</h1>
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#miCarrusel").carousel();
        });

        $(document).ready(function () {
            $("#orderForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{% url 'process_order' %}",
                    data: $(this).serialize(),
                    success: function (data) {
                        alert("Pedido enviado correctamente");
                        $('#orderModal').modal('hide');
                    },
                    error: function () {
                        alert("Error al enviar el pedido");
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('#cake-order-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                if (form.checkValidity()) {

                    form.submit();

                    window.alert('Pedido realizado con éxito. ¡Gracias por tu pedido!');
                }
            });
        });
    </script>
    {% block scripts %}
    {% endblock %}

</body>

</html>